doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ***
        link(rel="stylesheet" type="text/css" href="./css/main.css")
    body
        include components/header
        include components/menu
        include components/about-ua
        include components/works
        include components/title
        include components/team-part
        include components/testimonial
        include components/logo
        include components/footer
        script(src='js/main.js')