@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat.ttf'), url('../fonts/Montserrat.woff2') format('woff2'), url('../fonts/Montserrat.woff') format('woff');
}

@font-face {
    font-family: "Merriweather";
    src: url('../fonts/Merriweather.ttf'), url('../fonts/Merriweather.woff2') format('woff2'), url('../fonts/Merriweather.woff') format('woff');
}


@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway.ttf'), url('../fonts/Raleway.woff2') format('woff2'), url('../fonts/Raleway.woff') format('woff');
}