header,
section,
footer {
    width: 100%;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--section-background);
}

header,
section {
    padding-bottom:130px;
}
footer{
background:var(--footer-background);}
@media screen and (min-width: 1440px) {
    .wrapper {
        //    pading: 0 15px;
        width: 1439px;
    }
}
.footer{
    padding-top: 130px;
    background: url(../images/background.jpg);
    background-size : cover;
    background-repeat : no-repeat;
    background-position  :center;
}

button{
width: 245px;
    height: 55px;
    background:var(--section-background-photo) ;
    margin: 40px 0;
        border:0px;
}