picture{
    width: 370px;
    height: 360px;
    margin-bottom: 1%;
     background: url(../images/banner1.jpg);
     background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
}