.section-title {
  font-size: 45px;
  font-family: "Montserrat";
  color: rgb(80, 80, 80);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.622;
  text-align: center;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
}