.our-services {
//    height: 425px;
    margin: 1% 0;
    background: var(--section-background-photo);
}

.blok-1 {
    height: 425px;
    width: 58%;
     background: url(../images/banner1.jpg);
        background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
}

.blok-2 {
    height: 425px;
    width: 38%;
     background: url(../images/banner2.jpg);
        background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
}