.our-services {
    margin: 1% 0;
}

.blok-1 {
    height: 430px;
    width: 58%;
     background: url(../images/banner1.jpg);
        background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
}

.blok-2 {
    height: 430px;
    width: 38%;
     background: url(../images/banner2.jpg);
        background-size: cover;
    background-position: center;
      background-repeat: no-repeat;
}