.slid-what-they-says {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.box-photo-what-they-says,
.content-box-what-they-says {
    width: 35%;
    margin: 2%;
    display: inline-block;
}

.content-box-what-they-says {
    width: 58%;
    height: 315px;
    margin-top: 30px;
    padding: 100px 80px 0;
    background: var(--slide-background);
    text-align: center;
}

.radio-box-what-they-says {
    width: 34%;
    display: flex;
    justify-content: center;
}

.radio-what-they-says {
    display: inline-block;
    margin: 2px;
    border-radius: 3px;
    background-color: rgb(208, 208, 208);
    width: 11px;
    height: 10px;
}

.star {
    width: 15px;
    height: 15px;
}

.said-star {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-what-they-says {
    line-height: 1.688;
}

.slide-next {
    width: 136px;
    display: flex;
    justify-content: space-between;
}

.next {
    font-size: 18px;
    font-weight: bolder;
    color: #25514d;
    width: 53px;
    height: 53px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-right {
    background-color: var(--section-background-photo);
}

.slide-management {
    width: 96%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
