<section class="featured-works">
<div class="wrapper">
 <div class="section-title">
                <h2 class="title-h2">featured works</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing 
                </p>
            </div>
            
     <div class="section-box">
        
<picture></picture>
<picture></picture>
<picture></picture>
<picture></picture>
<picture></picture>
<picture></picture>
         
     </div>
            
                          
            
 </div>
         
</section>