<section class="featured-works">
<div class="wrapper">
 <div class="section-title">
                <h2 class="title-h2">featured works</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing 
                </p>
            </div>
            
     <div class="section-box">
        
          <picture>
           <source srcset="images/photo01.svg">
           <img src="images/photo01.svg" width="370" height="365" alt="HTML5">
          </picture>
         <picture>
           <source srcset="images/photo01.svg">
           <img src="images/photo01.svg" width="370" height="365" alt="HTML5">
          </picture>
         <picture>
           <source srcset="images/photo01.svg">
           <img src="images/photo01.svg" width="370" height="365" alt="HTML5">
          </picture>
         <picture>
           <source srcset="images/photo01.svg">
           <img src="images/photo01.svg" width="370" height="365" alt="HTML5">
          </picture>
         <picture>
           <source srcset="images/photo01.svg">
           <img src="images/photo01.svg" width="370" height="365" alt="HTML5">
          </picture>
         <picture>
           <source srcset="images/photo01.svg">
           <img src="images/photo01.svg" width="370" height="365" alt="HTML5">
          </picture>
         
     </div>
            
                          
            
 </div>
         
</section>