<section class="footer">
    <div class="wrapper wrapper-flex">
        <form>
            <input type="text" value="Name">
            <input type="text" value="Subject">
            <input type="email" value="Email">
            <input type="text" class="massage" value="Massage">
            <button value="SEND MASSAGE">SEND MASSAGE</button>
        </form>
        
        <form>
            <span> Adress line 1 </span>
            <span>Adress line 2 </span>
            <span>Phone: +548 945645</span>
            <span>Fax: +456456 54546</span>
            
            <span>Web: www.designagency.net</span>
            <span>E-mail: info@designagency.net</span>
            <div class="mapa"></div>
        </form>
    </div>
    
</section>