<header>
        <div class="wrapper">
            <div class="logot-menu">
                <h2 class="logot title-h2"><span class="title-orange"> S</span>mart</h2>
                <menu>
                    <ul class="menu-ul">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="menu-ul-none">
                        <li></li>
                        <li>Working process</li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </menu>
            </div>
            <div class="section-title">
                <h2 class="title-h2">Say Hello to SHOPNO!</h2>
                <h2 class="title-h2">Agency CORPORATE SHOPNO Theme</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, fuga provident. Libero magni quibusdam labore ad iste saepe hic, maxime qui ipsum tempore beatae, volu tomi ptates doloremque rerum aspernatur dolorum at!</p>
            </div>
           
        </div>
    </header>