<header>
        <div class="wrapper">
            <div class="logot-menu">
                <p class="logot-title">SH<span class="title-O">O</span>PNO</p>
                <menu>
                    <ul class="menu-ul">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <ul class="menu-ul-none">
                        <li></li>
                        <li>Working process</li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </menu>
            </div>
           
           
        </div>
    </header>