<section class="logo">
    <div class="wrapper">
        <div class="logo-box1">
            <div class="logo-img"></div>
            <div class="logo-img"></div>
            <div class="logo-img"></div>
        </div>
        <div class="logo-box2">
            <div class="logo-img"></div>
            <div class="logo-img"></div>
            <div class="logo-img"></div>
            <div class="logo-img"></div>
            <div class="logo-img"></div>
            <div class="logo-img"></div>
        </div>
        
        
        
    </div>     
</section>