<section class="our-services">
<div class="wrapper">



 <div class="section-title">
                <h2 class="title-h2">our services</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet event landing template   </p>
            </div>
            
          <div class="section-box">
              <div class="our-services blok-1">
<!--              <img class="img" src="images/banner1.jpg">-->
              </div>
              <div class="our-services blok-2">
<!--              <img class="img" src="images/banner2.jpg">-->
              </div>
              <div class="our-services blok-1">
<!--              <img class="img" src="images/banner6.jpg">-->
              </div>
              <div class="our-services blok-2">
<!--              <img class="img" src="images/banner4.jpg">-->
              </div>
              <div class="our-services blok-2">
<!--              <img class="img" src="images/banner5.jpg">-->
              </div>
              <div class="our-services blok-1">
<!--              <img class="img" src="images/banner6.jpg">-->
              </div>
          </div>
     
  
            
 </div>
         
</section>