<section class="small-team">
<div class="wrapper">



 <div class="section-title">
                <h2 class="title-h2">small team</h2>
                <p class="subtitle">Lorem ipsum dolor sit amet event landing template   </p>
            </div>
            
            
           <div class="section-box">
              <div class="small-team-blok"><img class="img" src="images/photo1.jpg"></div>
              <div class="small-team-blok"><img class="img" src="images/photo2.jpg"></div>
              <div class="small-team-blok"><img class="img" src="images/photo3.jpg"></div>
              <div class="small-team-blok"><img class="img" src="images/photo4.jpg"></div>
              <div class="small-team-blok"><img class="img" src="images/photo5.jpg"></div>
              <div class="small-team-blok"><img class="img" src="images/photo6.jpg"></div>
          </div>           

            
 </div>
         
</section>