<section class="small-team">
    <div class="wrapper">
        <div class="section-title">
            <h2 class="title-h2">small team</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet event landing template </p>
        </div>
        <div class="section-box">
            <div class="small-team-blok" onmouseover = "f1(0)" onmouseout = "f2(0)">
                <div class="team-hover">
                    <div class="triangles"></div>
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI Designer</span></p>
                    <p class="ui-content">Lorem Ipsum is not simply is an action designer random text It has roots in a piece. </p>
                    <p class="social">   </p>
                </div>
            </div>
            <div class="small-team-blok" onmouseover = "f1(1)"  onmouseout = "f2(1)">
                <div class="team-hover" >
<!--                   onmouseover="f1(0)"-->
                    <div class="triangles" ></div>
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI Designer</span></p>
                    <p class="ui-content">Lorem Ipsum is not simply is an action designer random text It has roots in a piece. </p>
                    <p class="social">   </p>
                </div>
            </div>
            <div class="small-team-blok"  onmouseover = "f1(2)"  onmouseout = "f2(2)">
                <div class="team-hover">
                    <div class="triangles"></div>
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI Designer</span></p>
                    <p class="ui-content">Lorem Ipsum is not simply is an action designer random text It has roots in a piece. </p>
                    <p class="social">   </p>
                </div>
            </div>
            <div class="small-team-blok" onmouseover = "f1(3)"  onmouseout = "f2(3)">
                <div class="team-hover">
                    <div class="triangles"></div>
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI Designer</span></p>
                    <p class="ui-content">Lorem Ipsum is not simply is an action designer random text It has roots in a piece. </p>
                    <p class="social">   </p>
                </div>
            </div>
            <div class="small-team-blok" onmouseover = "f1(4)"  onmouseout = "f2(4)">
                <div class="team-hover">
                    <div class="triangles"></div>
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI Designer</span></p>
                    <p class="ui-content">Lorem Ipsum is not simply is an action designer random text It has roots in a piece. </p>
                    <p class="social">   </p>
                </div>
            </div>
            <div class="small-team-blok" onmouseover = "f1(5)"  onmouseout = "f2(5)">
                <div class="team-hover">
                    <div class="triangles"></div>
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI Designer</span></p>
                    <p class="ui-content">Lorem Ipsum is not simply is an action designer random text It has roots in a piece. </p>
                    <p class="social">   </p>
                </div>
            </div>
        </div>
    </div>
</section>