<section class="what-they-says">
    <div class="wrapper">



        <div class="section-title">
            <h2 class="title-h2">what they says</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet event landing template </p>
        </div>


        <div class="section-box">

            <div class="slid-what-they-says" id="slid1-what-they-says">
                <div class="box-photo-what-they-says">
                    <div class="slid-photo-background">
                        <div class="photo-slid" id="photo1-slid">


                        </div>
                    </div>
                </div>
                <div class="content-box-what-they-says">
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI/UX DESIGNER</span></p>
                    <p class="ui-content content-what-they-says">Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <div class="said-star">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg"></div>
                </div>
            </div>

            <div class="slid-what-they-says" id="slid2-what-they-says">
                <div class="box-photo-what-they-says">
                    <div class="slid-photo-background">
                        <div class="photo-slid" id="photo2-slid">


                        </div>
                    </div>
                </div>
                <div class="content-box-what-they-says">
                    <p class="ui-name">AS RAYHAN <span class="ui-designer">/ UI/UX DESIGNER</span></p>
                    <p class="ui-content content-what-they-says">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt laborum enim quod dolorem temporibus beatae ipsum, nisi, voluptas provident odio, quidem ad in. Sapiente, nihil excepturi at fugit vero, perferendis.
                    </p>
                    <div class="said-star">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <!--                        <img class="star" src="images/star.svg">-->
                        <!--                        <img class="star" src="images/star.svg">-->
                        <img class="star" src="images/star.svg"></div>
                </div>
            </div>

            <div class="slid-what-they-says" id="slid3-what-they-says">
                <div class="box-photo-what-they-says">
                    <div class="slid-photo-background">
                        <div class="photo-slid" id="photo3-slid">


                        </div>
                    </div>
                </div>
                <div class="content-box-what-they-says">
                    <p class="ui-name">AL Laboriosam <span class="ui-designer">/ UI/UX DESIGNER</span></p>
                    <p class="ui-content content-what-they-says">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In officia recusandae accusamus, natus fugit. Laboriosam asperiores quae itaque, nisi consequuntur, fugit maiores nobis fuga nostrum, quis accusantium quisquam molestias id!
                    </p>
                    <div class="said-star">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <!--                        <img class="star" src="images/star.svg">-->
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg"></div>
                </div>

            </div>

            <div class="slid-what-they-says" id="slid4-what-they-says">
                <div class="box-photo-what-they-says">
                    <div class="slid-photo-background">
                        <div class="photo-slid" id="photo4-slid">


                        </div>
                    </div>
                </div>
                <div class="content-box-what-they-says">
                    <p class="ui-name">AL RAYHAN <span class="ui-designer">/ UI/UX DESIGNER</span></p>
                    <p class="ui-content content-what-they-says">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, alias dolore veritatis temporibus numquam maxime aspernatur error ipsum iusto iure optio totam quis animi ipsa asperiores aperiam odio suscipit. Maiores! ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati reprehenderit, laudantium ea illo molestias, provident quos dicta rem repudiandae amet doloremque voluptate! Quam inventore laborum id rem dolorum, quae sint? </p>
                    <div class="said-star">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg">
                        <img class="star" src="images/star.svg"></div>
                </div>
            </div>

        </div>

        <div class="slide-management">
            <div class="radio-box-what-they-says">
                <div class="radio-what-they-says" id="radio1-what-they-says"></div>
                <div class="radio-what-they-says" id="radio2-what-they-says"></div>
                <div class="radio-what-they-says" id="radio3-what-they-says"></div>
                <div class="radio-what-they-says" id="radio4-what-they-says"></div>
            </div>
            <div class="slide-next">
                <div class="next next-left" onclick="NextLeft()">
                    < </div>
                        <div class="next next-right" onclick="NextRight()"> > </div>
                </div>
            </div>



        </div>

</section>
